aplacc/tests/newtests/*.out
aplacc/tests/newtests/*.fut
doc/*.aux
doc/*.log
doc/*.pdf
tests/Test

*.pdf
*.log
*.aux
*.synctex.gz

*.swp
.DS_Store

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

